
@charset "utf-8";
.body2{background-image: url(" https://media1.giphy.com/media/vc2H0gN8Kl2Lu/giphy.gif?cid=790b76115d0664a45548496a418bd0a9&rid=giphy.gif" ); background-size: cover;}
.body2{text-emphasis-color: white}
.fieldset{margin-top: 230px; margin-left: 450px;}
.fieldset{width: 400px;}
.fieldset{background-color: darkgreen; border-color: black;}

